body{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    line-height: 1.4;
    max-width: 2000px;
}

.borda{
    border: 1px solid;
}

main{
    max-width: 900px;
    margin: auto;
}

.div1{
    clear: both;
    float: right;
}

.div2{
    clear: both;
    float: right;
}


h1{
    background-color: rgb(60, 180, 60);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    text-align: center;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

iframe{
    display: block;
    margin: auto;
}

