section{
    margin: auto;
    margin: 0 200px 0 200px;
}
.box{
    background-color: blue;
}

.titu{
    text-align: center;
    background-color: blue;
    float: left;
    margin-left: 40%;
    color: white;
}

.box input{
    float: right;
    margin: 1.5rem 0;
}
.clear{
    clear: both;
}

nav{
    float: right;
    margin: 10px 50px;
}
a{
    margin-right: 30px;
}
hr{
    margin: 0 100px;
    max-width: 1180px;
}
.titi{
    font-size: 50px;
}
.img1{
  float: left;
  padding-right: 15px;
}
.img2{
    width: 600px;
    height: 350px;
    border-radius: 20px;
    margin: 10px 140px 10px 140px;
}
.lado img{
    border: 1px solid;
}
.lado2{
    float: right;
    margin: 0 10px;
}
.clear{
    clear: left
}
